alembic==0.8.9
click==6.6
Flask==0.11
Flask-Limiter==0.9.3
Flask-Login==0.4.0
flask-marshmallow==0.7.0
Flask-Migrate==2.0.0
Flask-RESTful==0.2.1
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
Flask-Testing==0.6.1
Flask-WTF==0.13.1
gunicorn==19.6.0
itsdangerous==0.24
Jinja2==2.8
Mako==1.0.6
MarkupSafe==0.23
marshmallow==2.10.4
marshmallow-sqlalchemy==0.11.0
mysql-python==1.2.5
passlib==1.6.5
pycrypto==2.6.1
python-dotenv==0.6.1
python-editor==1.0.3
requests==2.12.3
six==1.10.0
SQLAlchemy==1.1.4
StringGenerator==0.1.9
Werkzeug==0.11.11
WTForms==2.1
