{% include "header.html" %}
<div class="container m-t-md">
  <div class="row">
    <div class="col-sm-3 sidebar">
      <nav class="sidebar-nav">
        <div class="collapse nav-toggleable-sm" id="nav-toggleable-sm">
          <ul class="nav nav-pills nav-stacked">
            <li class="nav-header">Seedbase Generator</li>
            <li {%- if request.path == "/generator/models" %} class="active"{% endif %}>
              <a href="/generator/models">Models</a>
            </li>
            <li {%- if request.path == "/generator/connector" %} class="active"{% endif %}>
              <a href="/generator/connector">Connector</a>
            </li>
          </ul>
          <hr class="visible-xs m-t">
        </div>
      </nav>
    </div>
    <div class="col-sm-9">
      <div id="messages">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      </div>
      {% block content %}{% endblock %}
    </div>
  </div>
</div>
{% include "footer.html" %}
