{% extends "generator/layout.html" %}
{% block content %}
<!-- Dashhead -->
<div class="row">
  <div class="col-sm-12">
    <div class="dashhead">
      <div class="dashhead-titles">
        <h6 class="dashhead-subtitle">Generator</h6>
        <h2 class="dashhead-title">Models</h2>
      </div>
    </div>
    <hr class="m-t">
  </div>
</div>
<!-- Models -->
<form action="" method="post">
  <div id="models"></div>
</form>
<script type="text/babel" src="{{ url_for('static', filename='jsx/models.js') }}"></script>
{% endblock %}