{% extends "generator/layout.html" %}
{% block content %}
<!-- Dashhead -->
<div class="row">
  <div class="col-sm-12">
    <div class="dashhead">
      <div class="dashhead-titles">
        <h6 class="dashhead-subtitle">Generator</h6>
        <h2 class="dashhead-title">Schema</h2>
      </div>
    </div>
    <hr class="m-t">
  </div>
</div>
<!-- Schema -->
<div id="schema"></div>
<!-- Buttons -->
<div class="row">
  <div class="col-sm-9">
    <a href="#" class="btn btn-primary-outline p-x m-t m-r">
      <span class="icon icon-plus"></span> Add Model
    </a>
    <a href="#" class="btn btn-primary-outline p-x m-t pull-right">Continue</a>
  </div>
</div>
{% endblock %}
