{% extends "generator/layout.html" %}
{% block content %}
<!-- Dashhead -->
<div class="row">
  <div class="col-sm-12">
    <div class="dashhead">
      <div class="dashhead-titles">
        <h6 class="dashhead-subtitle">Generator</h6>
        <h2 class="dashhead-title">Schema</h2>
      </div>
    </div>
    <hr class="m-t">
  </div>
</div>
<!-- Fields -->
<div class="row">
  <div class="col-sm-12">
    <div class="panel-group" id="accordion" role="tablist">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
              Model
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel">
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-6">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="field" />
                </div>
              </div>
              <div class="col-xs-3">
                <div class="form-group">
                  <select class="form-control">
                    <option>Boolean</option>
                    <option>Company Name</option>
                    <option>Date</option>
                    <option>Name</option>
                  </select>
                </div>
              </div>
              <div class="col-xs-3">
                <div class="form-group">
                  <select class="form-control">
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group">
              <a href="#" class="btn btn-primary-outline">
                <span class="icon icon-plus"></span> Add Field
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Buttons -->
<div class="row">
  <div class="col-sm-9">
    <a href="#" class="btn btn-primary-outline p-x m-t m-r">
      <span class="icon icon-plus"></span> Add Model
    </a>
    <a href="#" class="btn btn-primary-outline p-x m-t pull-right">Continue</a>
  </div>
</div>
{% endblock %}
