/* global body padding */
body {
  padding-top:    20px;
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  body {
    padding-top:    50px;
    padding-bottom: 50px;
  }
}


/* global spacing overrides */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0;
}

hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

button.pull-right.btn.btn-default {
  margin: 3px;
}

.navbar-fixed-top,
.navbar-static-top {
  border-bottom: 0;
}

.panel-title .form-control {
  background-color: #F5F5F5;
  color: #888;
  border: none;
}

.panel-body .form-control:focus {
  background-color: #434857;
  color: #fff;
}

.col-xs-1 {
  width: 10%;
}

.btn-success-outline:hover {
  box-shadow: 0 4px #23a057;
  transition: 0.5s;
}

.btn-primary-outline:hover {
  box-shadow: 0 4px #2980b9;
  transition: 0.5s;
}
@media (max-width: 520px) {
  .col-xs-1, .col-xs-3, .col-xs-6 {
    padding: 5px;
  }
}
