<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <title>Hatch | Documentation</title>
    <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='img/favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon/favicon-16x16.png') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon/manifest.json') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon/safari-pinned-tab.svg') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon/favicon.ico') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon/browserconfig.xml') }}">
    <meta name="theme-color" content="#ffffff">
    <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/generator-toolkit.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/docs.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/generator.css') }}" rel="stylesheet">
  </head>


<body class="with-top-navbar">

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand navbar-brand-emphasized" href="/">
          <span class="navbar-brand-icon"><img style="margin-bottom: 2px;" src="{{ url_for('static', filename='img/logo-navbar.png') }}" /></span>Hatch
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/generator">Generator</a></li>
          <li class="active"><a href="/docs">Documentation</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="docs-header" id="content">
    <div class="container">
      <h1>Documentation</h1>
      <p>Unleash the power of data with the Hatch API.</p>
    </div>
  </div>
  <div class="container docs-content">

    <h1 id="contents">Contents</h1>

    <ul id="markdown-toc">
      <li><a href="#contents" id="markdown-toc-contents">Contents</a></li>
      <li><a href="#introduction" id="markdown-toc-intro">Introduction</a>
        <ul>
          <li><a href="#authentication" id="markdown-toc-authentication">Authentication</a></li>
          <li><a href="#rate-limits" id="markdown-toc-rate-limits">Rate Limits</a></li>
          <li><a href="#request-format" id="markdown-toc-request-format">Request Format</a></li>
          <li><a href="#response-format" id="markdown-toc-response-format">Response Format</a></li>
        </ul>
      </li>
      <li><a href="#generate" id="markdown-toc-generate">Generate</a></li>
    </ul>

    <h1 id="intro">Introduction</h1>

    <p>Hey there! Welcome to the Hatch documentation. Let’s dive in.</p>

    <h2 id="authentication">Authentication</h2>

    <p>Basic authentication is supported with an email address and an API token.</p>

    <h2 id="rate-limits">Rate Limits</h2>

    <h2 id="request-format">Request Format</h2>

    <h2 id="response-format">Response Format</h2>

    <h1 id="generate">Generate</h1>

    <p><code class="highlighter-rouge">POST https://hatch-data.io/api/generate</code></p>

    <a class="docs-top" style="display: none" href="#">Back to top</a>
  </div>


  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/chart.js') }}"></script>
  <script src="{{ url_for('static', filename='js/tableSorter.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/toolkit.js') }}"></script>
  <script src="{{ url_for('static', filename='js/generator.js') }}"></script>
  <script>
    // execute/clear BS loaders for docs
    $(function(){while(window.BS&&window.BS.loader&&window.BS.loader.length){(window.BS.loader.pop())()}})
  </script>
