  <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/jquery.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/toolkit.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/bundle.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/documentation.js') }}"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script>
    // execute/clear BS loaders for docs
    $(function(){while(window.BS&&window.BS.loader&&window.BS.loader.length){(window.BS.loader.pop())()}})
  </script>
  </body>
</html>
